.head{
	padding: 40px 35px 40px 80px;
	background: $bg-gray;
	&.light-theme{
		background: none;
	}
	&.night-theme{
		background: #808080;
	}
	.head__logo{
	}
	.head__menu{
		font-family: $gilda;
		display: flex;
		ul{
			width: 100%;
		}
		li{
			list-style-type: none;
			display: inline;
		}
		a{
		    text-transform: uppercase;
		    color: #000000;		    
		    text-decoration: none;
			font-size: 16px;
			&:hover{
			color: #F7941E;
			transition: 1s;
			}
		}
	}
	.head__button{
		display: inline-block;
		border: 1px solid #F7941E;
		padding: 14px 24px;
		a{
			color:  #F7941E;
			text-decoration: none;
			&:hover{
			color: #000;
			transition: 1s;
			}
		}
	}
}
.c-hamburger{
	display: none;
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 30;
	width: 50px;
	height: 40px;
	overflow: hidden;
	background: #000;
	box-shadow: none;
	border: none;
	&:focus{
		outline: none;
	}
	span{
		display: block;
		position: absolute;
		left: 5px;
		right: 5px;
		height: 4px;
		background: #EEEFF1;
		&:before{
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 4px;
			background: #EEEFF1;
			content: "";
			top: -13px;	
		}
		&:after{
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 4px;
			background: #EEEFF1;
			content: "";
			top: 13px;
		}
	}
}
.c-hamburger-line{
		background: #F7941E;
	span{
		transition: background 0s 0.3s;
	}
}
.c-hamburger-line{
	span:before{
		transition-duration: 0.3s, 0.3s;
		transition-delay: 0.3s, 0s;	
		transition-property: top, transform;
	}
	span:after{
		transition-duration: 0.3s, 0.3s;
		transition-delay: 0.3s, 0s;
		transition-property: bottom, transform;	
	}
}
.c-hamburger-line{
	&.is-active{
		background: #FFDEAD;
		span{
			background: none;
			&:before{
				top: 0;
				transform: rotate(-45deg);
				transition-delay: 0s, 0.3s;
			}
			&:after{

				top: 0;
				transform: rotate(45deg);
				transition-delay: 0s, 0.3s;
			}
		}
	}
}
.burger-menu_nav{
	display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    z-index: 10;
    width: 100%;
    background: #F4A460;
    padding-left: 15px;
	ul{
		text-decoration:none;
	}
	li{
		padding-bottom: 10px;
	}
	a{
		font-family: $gilda;
		font-weight: bold;
	}
	.burger-menu_link{
		font-family: $gilda;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #FFF;
		font-weight: bold;
		text-decoration: none;
		display: block;
	}
}
